// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
// VARIABLES
// Colors
// primary colors
$light_red: hsl(356, 100%, 66%); // (CTA text)
$very_light_red: hsl(355, 100%, 74%); // (CTA hover background)
$very_dark_blue: hsl(208, 49%, 24%); // (headings)
// neutral colors
$white: hsl(0, 0%, 100%); // (text)
$grayish_blue: hsl(240, 2%, 79%); // (footer text)
$light_grayish_blue: lighten($grayish_blue, 15%);
$very_dark_grayish_blue: hsl(207, 13%, 34%); // (body copy)
$very_dark_black_blue: hsl(240, 10%, 16%); // (footer background)
// GRADIENTS
// Background gradient - Intro/CTA mobile nav:
$very_light_red: hsl(13, 100%, 72%);
$light_red: hsl(353, 100%, 62%);
// Background gradient - body:
$very_dark_gray_blue: hsl(237, 17%, 21%);
$very_dark_desaturated_blue: hsl(237, 23%, 32%);
// Typography
// font-family
$ff_Overpass: "Overpass", sans-serif;
$ff_Ubuntu: "Ubuntu", sans-serif;
// font-weight
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semiBold: 600;
$fw_bold: 700;
// font-size
$fs_bodyCopy: 1.6rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}
// STYLES
body {
  font-family: $ff_Overpass;
  font-size: $fs_bodyCopy;
  background-color: $white;
  display: grid;
  //place-items: center;
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(1, 1fr);
    //grid-template-rows: repeat(6, 1fr);
  }
}

header {
  background-color: $very_light_red;
  background-image: url(../images/bg-pattern-intro-mobile.svg),
    linear-gradient(to bottom right, $very_light_red, $light_red);
  background-repeat: no-repeat;
  background-position: 35% 33%;
  border-bottom-left-radius: 100px;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  color: $white;
  @media screen and (min-width: $desktop) {
    // This item will start on row 1 and column 1,and span 2 rows and 1 column:
    //grid-area: 1 / 1 / span 3 / span 1;
    background-image: url(../images/bg-pattern-intro-desktop.svg),
      linear-gradient(to right, $very_light_red, $light_red);
    background-position: 29% 53%;
    padding-left: 17rem;
    padding-right: 17rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.5rem;
  padding-bottom: 10rem;
  .logo {
    width: 8rem;
    display: block;
    @media screen and (min-width: $desktop) {
      width: 100%;
    }
  }

  .toggleButton {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .closeIcon {
    display: none; // Toggle this on and off in JS
  }

  // MENU FOR MOBILE VIEWPORTS
  .menuList {
    display: none; // Toggle this on and off in JS
    background-color: $white;
    border-radius: 5px;
    color: $very_dark_grayish_blue;
    font-family: $ff_Ubuntu;
    font-weight: $fw_medium;
    position: absolute;
    width: 32.7rem;
    top: 12rem;
    right: 2.4rem;
    padding: 0 2.5rem;
    z-index: 99;
    @media screen and (min-width: $desktop) {
      display: flex;
      background: none;
      position: relative;
      inset: 0;
      width: 100%;
      color: $white;
      align-items: center;
      padding: 0;
      margin-left: 3.3rem;
    }
    ul {
      text-align: center;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      @media screen and (min-width: $desktop) {
        padding: 3rem 6.5rem 3rem 2rem;
        text-align: left;
      }
    }
  }
}

.displayMenu {
  display: block; // Toggle this on and off in JS
}

.menuListItems {
  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 3rem;
  }
  li {
    &:not(:first-child) {
      margin-top: 2.5rem;
      @media screen and (min-width: $desktop) {
        margin-top: 0;
      }
    }
  }
}

hr {
  color: $light_grayish_blue;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menuListItemsLinks {
  text-align: center;
  list-style: none;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
  a {
    color: $very_dark_grayish_blue;
    @media screen and (min-width: $desktop) {
      color: $white;
    }
  }
}

.login {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  @media screen and (min-width: $desktop) {
    position: absolute;
    right: 16rem;
    padding: 0;
  }
}

.signUp {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 4.5rem;
  border-radius: 25px;
  background-image: linear-gradient(to right, $very_light_red, $light_red);
  margin-bottom: 2.2rem;
  cursor: pointer;
  &:hover {
    background-image: none;
    background-color: #fe7a85;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    position: absolute;
    right: 0;
    top: 1.5rem;
  }
}

details {
  ul {
    margin-top: 2.5rem;
    background-color: $light_grayish_blue;
    border-radius: 5px;
    @media screen and (min-width: $desktop) {
      position: absolute;
    }
    li {
      @media screen and (min-width: $desktop) {
        &:not(:first-child) {
          padding-top: 2rem;
        }
      }
    }
    a {
      color: $very_dark_grayish_blue;
      @media screen and (min-width: $desktop) {
        &:hover {
          color: $very_dark_black_blue;
          font-weight: $fw_medium;
        }
      }
    }
  }
}

// Customize the default arrow with Webkit Pseudo-element:
details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
  cursor: pointer;
  &::after {
    content: url(../images/icon-arrow-dark.svg);
    transition: 0.2s ease-in;
    @media screen and (min-width: $desktop) {
      content: url(../images/icon-arrow-light.svg);
    }
  }
}

// Rotate arrow image after the summary when details are open:
details[open] summary::after {
  content: url(../images/icon-arrow-dark-up.svg);
  transition: 0.2s ease-in;
  @media screen and (min-width: $desktop) {
    content: url(../images/icon-arrow-light-up.svg);
  }
}

details > summary > span {
  @media screen and (min-width: $desktop) {
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.2rem;
    }
  }
}

h1 {
  text-align: center;
  font-weight: $fw_medium;
  font-size: 3.6rem;
  padding-bottom: 2rem;
  @media screen and (min-width: $desktop) {
    font-size: 6.25rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5rem;
}

.navigation_links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15rem;
  cursor: pointer;
  @media screen and (min-width: $desktop) {
    max-width: 29.5rem;
    margin: auto;
  }
  li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 4.5rem;
    border-radius: 25px;
    border: solid white 1px;
    color: $white;
    font-weight: $fw_bold;
  }
  .start {
    background-color: white;
    color: $light_red;
    &:hover {
      background-color: #fe7a85;
      color: $white;
      border: none;
    }
  }
}

.learn {
  &:hover {
    background-color: $white;
    color: $light_red;
  }
}

article {
  text-align: center;
  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-rows: 30rem 60rem 40rem 100rem;
  }
}

article > h2 {
  margin-top: 10rem;
  color: $very_dark_blue;
  font-size: 2.6rem;
  @media screen and (min-width: $desktop) {
    font-size: 3.6rem;
    align-self: center;
    margin-top: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.grid-item {
  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .editor {
      // This item will start on row 1 and column 2,and span 1 rows and 1 column:
      grid-area: 1 / 2 / span 1 / span 1;
    }
  }
}

.overlap {
  @media screen and (min-width: $desktop) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    height: 90rem;
  }
}

.grid-item > .editor {
  height: 33rem;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5.5rem;
  @media screen and (min-width: $desktop) {
    background-image: url(../images/illustration-editor-desktop.svg);
    height: 81.5rem;
    margin-top: 0;
    align-self: center;
    background-position: 10rem;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

.grid-item_content {
  @media screen and (min-width: $desktop) {
    text-align: left;
    align-self: center;
  }
}

.grid-item_content > h3 {
  color: $very_dark_blue;
  font-size: 2.6rem;
  margin-top: 5.5rem;
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $desktop) {
    max-width: 56.5rem;
    font-size: 2.6rem;
  }
}

.second {
  @media screen and (min-width: $desktop) {
    padding-right: 8rem;
  }
}

.second > h3 {
  max-width: 30rem;
  @media screen and (min-width: $desktop) {
    max-width: 56.5rem;
  }
}

.grid-item_content > p {
  margin-top: 2rem;
  color: $very_dark_grayish_blue;
  max-width: 29.5rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $mobile) {
    max-width: 53.5rem;
  }
  @media screen and (min-width: $desktop) {
    max-width: 56.5rem;
    font-size: 1.8rem;
  }
}

.border {
  margin-top: 25rem;
  position: relative;
  @media screen and (min-width: $desktop) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.phones {
  position: absolute;
  top: -17.5rem;
  max-width: 37rem;
  @media screen and (min-width: $desktop) {
    max-width: 45rem;
    top: -6.5rem;
  }
  @media screen and (min-width: 1350px) {
    max-width: 54rem;
    left: 16rem;
  }
}

.art {
  @media screen and (min-width: $desktop) {
    // This item will start on row 2 and column 2,and span 1 rows and 1 column:
    grid-area: 2 / 2 / span 9 / span 1;
    margin: auto;
    padding-right: 8rem;
  }
}

.background_gradient {
  background-color: $very_dark_gray_blue;
  background-image: url(..//images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 59rem;
  background-position: 53% -802%;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 62rem;
  @media screen and (min-width: $desktop) {
    background-position: -88% 82%;
    background-size: 112rem;
    height: 40rem;
  }
}

.background_gradient > .grid-item_content > h2 {
  padding-top: 22.5rem;
  color: $white;
  font-size: 4.25rem;
  font-weight: $fw_medium;
  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}

.background_gradient > .grid-item_content > p {
  color: $grayish_blue;
}

.grid-item > .laptop {
  height: 33rem;
  max-width: 38rem;
  background-image: url(../images/illustration-laptop-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5.5rem;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: $desktop) {
    background-image: url(../images/illustration-laptop-desktop.svg);
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    align-self: center;
    height: 78rem;
    background-position: -27.3rem;
    max-width: 65rem;
  }
}

footer {
  background-color: $very_dark_black_blue;
  border-top-right-radius: 100px;
  color: $white;
  padding-top: 7.5rem;
  margin-top: 10rem;
  text-align: center;
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid white 1px;
  }
}

footer > a > img {
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: $desktop) {
    margin-right: 0;
    margin-left: 0;
    padding-left: 16rem;
  }
}

footer > ul {
  margin-top: 8rem;
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}

footer > ul > li {
  margin-top: 3.5rem;
  font-weight: $fw_semiBold;
  font-family: $ff_Ubuntu;
  cursor: pointer;
  @media screen and (min-width: $desktop) {
    margin-top: 0;
  }
}

footer > ul > li > ul {
  margin-top: 3rem;
  li {
    font-weight: $fw_regular;
    &:not(:first-child) {
      margin-top: 1.4rem;
    }
    a {
      color: $grayish_blue;
    }
  }
}

footer > .attribution {
  margin-top: 2.4rem;
  @media screen and (min-width: $desktop) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    // This item will start on row 2 and column 2,and span 2 rows and 2 columns:
    //grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
    margin-top: 7.5rem;
  }
  a {
    color: $light_red;
  }
}
