@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  background-color: hsl(0deg, 0%, 100%);
  display: grid;
}
@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: repeat(1, 1fr);
  }
}

header {
  background-color: hsl(13deg, 100%, 72%);
  background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 35% 33%;
  border-bottom-left-radius: 100px;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  header {
    background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to bottom right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
    background-position: 29% 49%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.5rem;
  padding-bottom: 10rem;
}
nav .logo {
  width: 8rem;
}
nav .toggleButton {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
nav .closeIcon {
  display: none;
}
nav .menuList {
  display: none;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  color: hsl(207deg, 13%, 34%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  position: absolute;
  width: 32.7rem;
  top: 12rem;
  right: 2.4rem;
  padding: 0 2.5rem;
  z-index: 99;
}
nav .menuList ul {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.displayMenu {
  display: block;
}

.menuListItems li {
  margin-bottom: 2.5rem;
}
.menuListItems li:last-child {
  margin-bottom: 0rem;
}

hr {
  color: #efeff0;
}

.menuListItemsLinks li:first-child {
  margin-bottom: 2.2rem;
}
.menuListItemsLinks li:first-child a {
  color: hsl(207deg, 13%, 34%);
}
.menuListItemsLinks li:nth-child(2) {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 4.5rem;
  border-radius: 25px;
  background-image: linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
}
.menuListItemsLinks li:nth-child(2) a {
  color: hsl(0deg, 0%, 100%);
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::after {
  content: url(../images/icon-arrow-dark.svg);
  transition: 0.2s ease-in;
}

details[open] summary::after {
  content: url(../images/icon-arrow-dark-up.svg);
  transition: 0.2s ease-in;
}

details ul {
  margin-top: 2.5rem;
  background-color: #efeff0;
  border-radius: 5px;
}
details ul a {
  color: hsl(207deg, 13%, 34%);
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3.6rem;
  padding-bottom: 2rem;
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5rem;
}

.navigation_links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15rem;
  cursor: pointer;
}
.navigation_links li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 4.5rem;
  border-radius: 25px;
  border: solid white 1px;
}
.navigation_links li a {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}
.navigation_links .start {
  background-color: white;
}
.navigation_links .start a {
  color: hsl(353deg, 100%, 62%);
}

article {
  text-align: center;
}
article > h2 {
  margin-top: 10rem;
  color: hsl(208deg, 49%, 24%);
  font-size: 2.6rem;
}

@media screen and (min-width: 1024px) {
  .grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item .editor {
    grid-area: 1/2/span 1/span 1;
  }
}

.grid-item > .editor {
  height: 33rem;
  background-image: url(../images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5.5rem;
}

.grid-item_content > h3 {
  color: hsl(208deg, 49%, 24%);
  font-size: 2.6rem;
  margin-top: 5.5rem;
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
}

.second > h3 {
  width: 100%;
}

.grid-item_content > p {
  margin-top: 2.5rem;
  color: hsl(207deg, 13%, 34%);
  max-width: 29.5rem;
  margin-left: auto;
  margin-right: auto;
}

.background_gradient {
  background-color: hsl(237deg, 17%, 21%);
  background-image: url(..//images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 56rem;
  background-position: 52% -325%;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 62rem;
}

.background_gradient > .grid-item_content > h2 {
  padding-top: 22.5rem;
  color: hsl(0deg, 0%, 100%);
  font-size: 4.25rem;
  font-weight: 500;
}

.background_gradient > .grid-item_content > p {
  color: hsl(240deg, 2%, 79%);
}/*# sourceMappingURL=style.css.map */