// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
// VARIABLES
// Colors
// primary colors
$light_red: hsl(356, 100%, 66%); // (CTA text)
$very_light_red: hsl(355, 100%, 74%); // (CTA hover background)
$very_dark_blue: hsl(208, 49%, 24%); // (headings)
// neutral colors
$white: hsl(0, 0%, 100%); // (text)
$grayish_blue: hsl(240, 2%, 79%); // (footer text)
$very_dark_grayish_blue: hsl(207, 13%, 34%); // (body copy)
$very_dark_black_blue: hsl(240, 10%, 16%); // (footer background)
// GRADIENTS
// Background gradient - Intro/CTA mobile nav:
$very_light_red: hsl(13, 100%, 72%);
$light_red: hsl(353, 100%, 62%);
// Background gradient - body:
$very_dark_gray_blue: hsl(237, 17%, 21%);
$very_dark_desaturated_blue: hsl(237, 23%, 32%);
// Typography
// font-family
$ff_Overpass: "Overpass", sans-serif;
$ff_Ubuntu: "Ubuntu", sans-serif;
// font-weight
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semiBold: 600;
$fw_bold: 700;
// font-size
$fs_bodyCopy: 1.6rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
// STYLES
body {
  font-family: $ff_Overpass;
  font-size: $fs_bodyCopy;
  background-color: $white;
  display: grid;
  //place-items: center;
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(1, 1fr);
    //grid-template-rows: repeat(6, 1fr);
  }
}

header {
  background-color: $very_light_red;
  background-image: url(../images/bg-pattern-intro-mobile.svg),
    linear-gradient(to bottom right, $very_light_red, $light_red);
  background-repeat: no-repeat;
  background-position: 35% 33%;
  //background-position: right ;
  //background-attachment: fixed;
  //background: url(../images/bg-pattern-intro-mobile.svg) no-repeat fixed 35%
  //100%,
  //linear-gradient(to right bottom, $very_light_red, $light_red);
  border-bottom-left-radius: 100px;
  padding-top: 5.5rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  color: $white;
  @media screen and (min-width: $desktop) {
    // This item will start on row 1 and column 1,and span 2 rows and 1 column:
    //grid-area: 1 / 1 / span 3 / span 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
  .logo {
    width: 8rem;
  }

  .menuList {
    display: none;
  }
}

h1 {
  text-align: center;
  font-weight: $fw_medium;
  font-size: 3.6rem;
  padding-bottom: 2rem;
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5rem;
}

.navigation_links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15rem;
  cursor: pointer;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 4.5rem;
    border-radius: 25px;
    border: solid white 1px;
    a {
      color: $white;
      font-weight: $fw_bold;
    }
  }
  .start {
    background-color: white;
    a {
      color: $light_red;
    }
  }
}

article {
  @media screen and (min-width: $desktop) {
    //display: grid;
    //grid-template-rows: repeat(3, 1fr);
  }
}

.grid-item {
  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .editor {
      // This item will start on row 1 and column 2,and span 1 rows and 1 column:
      grid-area: 1 / 2 / span 1 / span 1;
    }
  }
}
