@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  background-color: hsl(0deg, 0%, 100%);
  display: grid;
}
@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: repeat(1, 1fr);
  }
}

header {
  background-color: hsl(13deg, 100%, 72%);
  background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 35% 33%;
  border-bottom-left-radius: 100px;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  header {
    background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
    background-position: 29% 53%;
    padding-left: 17rem;
    padding-right: 17rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5.5rem;
  padding-bottom: 10rem;
}
nav .logo {
  width: 8rem;
  display: block;
}
@media screen and (min-width: 1024px) {
  nav .logo {
    width: 100%;
  }
}
nav .toggleButton {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  nav .toggleButton {
    display: none;
  }
}
nav .closeIcon {
  display: none;
}
nav .menuList {
  display: none;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  color: hsl(207deg, 13%, 34%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  position: absolute;
  width: 32.7rem;
  top: 12rem;
  right: 2.4rem;
  padding: 0 2.5rem;
  z-index: 99;
}
@media screen and (min-width: 1024px) {
  nav .menuList {
    display: flex;
    background: none;
    position: relative;
    inset: 0;
    width: 100%;
    color: hsl(0deg, 0%, 100%);
    align-items: center;
    padding: 0;
    margin-left: 3.3rem;
  }
}
nav .menuList ul {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  nav .menuList ul {
    padding: 3rem 6.5rem 3rem 2rem;
    text-align: left;
  }
}

.displayMenu {
  display: block;
}

@media screen and (min-width: 1024px) {
  .menuListItems {
    display: flex;
    gap: 3rem;
  }
}
.menuListItems li:not(:first-child) {
  margin-top: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .menuListItems li:not(:first-child) {
    margin-top: 0;
  }
}

hr {
  color: #efeff0;
}
@media screen and (min-width: 1024px) {
  hr {
    display: none;
  }
}

.menuListItemsLinks {
  text-align: center;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .menuListItemsLinks {
    text-align: left;
  }
}
.menuListItemsLinks a {
  color: hsl(207deg, 13%, 34%);
}
@media screen and (min-width: 1024px) {
  .menuListItemsLinks a {
    color: hsl(0deg, 0%, 100%);
  }
}

.login {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
@media screen and (min-width: 1024px) {
  .login {
    position: absolute;
    right: 16rem;
    padding: 0;
  }
}

.signUp {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 4.5rem;
  border-radius: 25px;
  background-image: linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  margin-bottom: 2.2rem;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .signUp {
    margin: 0;
    position: absolute;
    right: 0;
    top: 1.5rem;
  }
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::after {
  content: url(../images/icon-arrow-dark.svg);
  transition: 0.2s ease-in;
}
@media screen and (min-width: 1024px) {
  details > summary::after {
    content: url(../images/icon-arrow-light.svg);
  }
}

details[open] summary::after {
  content: url(../images/icon-arrow-dark-up.svg);
  transition: 0.2s ease-in;
}
@media screen and (min-width: 1024px) {
  details[open] summary::after {
    content: url(../images/icon-arrow-light-up.svg);
  }
}

details ul {
  margin-top: 2.5rem;
  background-color: #efeff0;
  border-radius: 5px;
}
@media screen and (min-width: 1024px) {
  details ul {
    position: absolute;
  }
}
@media screen and (min-width: 1024px) {
  details ul li:not(:first-child) {
    padding-top: 2rem;
  }
}
details ul a {
  color: hsl(207deg, 13%, 34%);
}
@media screen and (min-width: 1024px) {
  details ul a:hover {
    color: hsl(240deg, 10%, 16%);
    font-weight: 500;
  }
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3.6rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6.25rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5rem;
}

.navigation_links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15rem;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .navigation_links {
    max-width: 29.5rem;
    margin: auto;
  }
}
.navigation_links li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 4.5rem;
  border-radius: 25px;
  border: solid white 1px;
}
.navigation_links li a {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}
.navigation_links .start {
  background-color: white;
}
.navigation_links .start a {
  color: hsl(353deg, 100%, 62%);
}

article {
  text-align: center;
  border: solid 2px black;
}
@media screen and (min-width: 1024px) {
  article {
    display: grid;
    grid-template-rows: 30rem 60rem 70rem 90rem;
    border: solid red 5px;
  }
}

article > h2 {
  margin-top: 10rem;
  color: hsl(208deg, 49%, 24%);
  font-size: 2.6rem;
}
@media screen and (min-width: 1024px) {
  article > h2 {
    font-size: 3.6rem;
    align-self: center;
    margin-top: 0;
    border: solid green 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media screen and (min-width: 1024px) {
  .grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: solid red 1px;
  }
  .grid-item .editor {
    grid-area: 1/2/span 1/span 1;
  }
}

.overlap {
  border: solid blueviolet 5px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  height: 90rem;
}

.grid-item > .editor {
  height: 33rem;
  background-image: url(../images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5.5rem;
}
@media screen and (min-width: 1024px) {
  .grid-item > .editor {
    height: 60rem;
    margin-top: 0;
    background-position: 20% 10% 30%;
  }
}

@media screen and (min-width: 1024px) {
  .grid-item_content {
    text-align: left;
    margin: auto;
  }
}

.grid-item_content > h3 {
  color: hsl(208deg, 49%, 24%);
  font-size: 2.6rem;
  margin-top: 5.5rem;
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .grid-item_content > h3 {
    max-width: 56.5rem;
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .second {
    padding-right: 8rem;
  }
}

.second > h3 {
  max-width: 30rem;
}
@media screen and (min-width: 1024px) {
  .second > h3 {
    max-width: 56.5rem;
  }
}

.grid-item_content > p {
  margin-top: 2rem;
  color: hsl(207deg, 13%, 34%);
  max-width: 29.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .grid-item_content > p {
    max-width: 56.5rem;
    font-size: 1.8rem;
  }
}

.border {
  margin-top: 25rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .border {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.phones {
  position: absolute;
  top: -17.5rem;
}
@media screen and (min-width: 1024px) {
  .phones {
    width: 54rem;
    top: -6.5rem;
    left: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .art {
    grid-area: 2/2/span 9/span 1;
    margin: auto;
    padding-right: 8rem;
  }
}

.background_gradient {
  background-color: hsl(237deg, 17%, 21%);
  background-image: url(..//images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 59rem;
  background-position: 53% -802%;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 62rem;
}
@media screen and (min-width: 1024px) {
  .background_gradient {
    background-position: -88% 82%;
    background-size: 112rem;
    height: 40rem;
  }
}

.background_gradient > .grid-item_content > h2 {
  padding-top: 22.5rem;
  color: hsl(0deg, 0%, 100%);
  font-size: 4.25rem;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .background_gradient > .grid-item_content > h2 {
    padding-top: 0;
  }
}

.background_gradient > .grid-item_content > p {
  color: hsl(240deg, 2%, 79%);
}

.grid-item > .laptop {
  height: 33rem;
  background-image: url(../images/illustration-laptop-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5.5rem;
}
@media screen and (min-width: 1024px) {
  .grid-item > .laptop {
    margin-top: auto;
    margin-bottom: auto;
    height: 77rem;
  }
}

footer {
  background-color: hsl(240deg, 10%, 16%);
  border-top-right-radius: 100px;
  color: hsl(0deg, 0%, 100%);
  padding-top: 7.5rem;
  margin-top: 10rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 0;
  }
}

footer > a > img {
  margin-right: auto;
  margin-left: auto;
}

footer > ul {
  margin-top: 8rem;
}

footer > ul > li {
  margin-top: 3.5rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

footer > ul > li > ul {
  margin-top: 3rem;
}
footer > ul > li > ul li {
  font-weight: 400;
}
footer > ul > li > ul li:not(:first-child) {
  margin-top: 1.4rem;
}
footer > ul > li > ul li a {
  color: hsl(240deg, 2%, 79%);
}

footer > .attribution {
  margin-top: 2.4rem;
}
footer > .attribution a {
  color: hsl(353deg, 100%, 62%);
}/*# sourceMappingURL=style.css.map */